{% extends 'default.html' %}


{% block title %}Персональный календарь{% endblock title %}

{% block content %}
<style>
    .calendar {
    width: 95%;
    margin: auto;
    font-size: 15px;
    background-color: #BDB76B;
  }
    .calendar tr, .calendar td {
    border: 1px solid black;
  }
    .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    }
    .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
    overflow: hidden;
    }
    .month {
    font-size: 25px;
    }
    .calendar td:hover {
    background-color: #8FBC8F;
    }
    #btn-new-note {
    background-color: #006400;
    color: white;
    margin: 5px 12%;
    padding: 0 30%;
    border-radius: 8px;
    }
    #btn-new-note:hover{
    box-shadow: 10px -8px #8FBC8F;
    }
</style>
<h4 style="width:100%; text-align: center; "> Здравствуйте, {{name.first_name}} </h4>
<a href="{% url 'note_create' %}" style="text-decoration: none;"><div id="btn-new-note">Создать заметку</div></a>
{{ calendar }}

{% endblock %}